@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model Garage2._0.Models.ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Details</h1>

<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeParked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeParked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
